
.im_m{
  align-items: center;
  padding: 10%;
  margin-top: 20px;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
slider{
  height: 90px;
}




form{
  padding: 20px 25px;
  position: relative;
  margin: 25px;
  display: block;

}


.custom-btn{
  width: 210px;
  height: 40px;
  color: #f9f4f4;
  border-radius: 5px;
  /* padding: 10px 25px; */
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  /* position: relative;
  display: inline-block; */
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}
.btn-1:hover {
  background: rgb(19, 76, 4);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.drop{
  text-align: center;
  display: inline-block;
  overflow: hidden;
  height: 32px;
  width: 150px;
  background: #5a8d74;
  border: 3px solid;
  border-color: rgb(9, 8, 8) #080707 rgb(11, 10, 10);
  border-radius: 13px;
  /* background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); */
}

/* .drop:before, .drop:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}
.drop:before {
  border-bottom-style: solid;
  border-top: none;
}
.drop:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
.drop-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera 
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.drop-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.drop-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}
 */
